%h1 Dashboard

<!-- = link_to 'Cleanup', cleanup_path-->

%li
    %a{:href => "#"} Housing
%li
    %a{:href => "#"} Travel
%li
    %a{:href => "#"} Essentials
%a.button{:href => "/welcome/login"}Back to Homepage
%br

